//@import "utils/reset.less";
.logo {
    width: 150px;
    display: block;
    height: auto;
}

.apos-ui .apos-admin-bar {
    top: 50%;
}

.apos-area-widget {
    h4 {
        display: none;
    }
}

.apos-modal-blackout {
    z-index: 1030;
}

.apos-ui.apos-modal {
    z-index: 1033;
}

:root {
    /* --blanco: white;
    --blanco2: #F0F0F0;
    --gris1: #4A4A4A;
    --gris2: #707070;
    --gris3: #A1A1A1;
    --gris4: #C2C2C2;
    --azul1: #699AAC;
    --azul2: #8DBCCE;
    --azul3: #1AA1D8;
    --azul4: #2AB4EB;
    --degradadoazul1: linear-gradient(var(--azul1), var(--azul2));
    --degradadoazul2: linear-gradient(var(--azul3), var(--azul4));
    --degradadoazul3: linear-gradient(-180deg, #00B6CC 0%, #2BB4EB 100%);
    --degradadogris1: linear-gradient(var(--gris2), var(--gris3)); */
    --text: #4a4a4a;
    --blueText: #20aae2;
    --plusButton: #9e9e9e;
    --greyBg: #f9f9f9;
    --blue1: #00B7CE;
    --blue2: #00B8DB;
    --green1: #62cead;
    --green2: #5ac6c3;
    --gradient__blue: linear-gradient(var(--blue1), var(--blue2));
    --gradient__green: linear-gradient(var(--green1), var(--green2));
    --grid__blue: linear-gradient(135deg, var(--blue1) 0%, var(--blue2) 100%);
    --grid__orange: linear-gradient(135deg, #F97930 0%, #FCD969 100%);
    --grid__purple: linear-gradient(135deg, #8A4FC3 0%, #5837B4 100%);
}

.custom-toggler.navbar-toggler {
    border: none;
}

.navbar {
    transition: all 1s ease-in-out
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#4a4a4a' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    overflow-x: hidden;
    position: relative;
    color: var(--text);
}

p {
    font-size: 1em;
    /* equivalent to 16px */
    line-height: 1.25;
    /* equivalent to 20px */
}

@media (min-width: 768px) {
    p {
        font-size: 1em;
        /* equivalent to 16px */
        line-height: 1.375;
        /* equivalent to 22px */
    }
}

h1 {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25;
    /* 45px / 36px */
    font-weight: 800;
    margin-bottom: 40px;
}

@media (min-width: 768px) {
    h1 {
        font-size: 2.5em;
        /* 2.5x body copy size = 40px */
        line-height: 1.125;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 3em;
        /* 3x body copy size = 48px */
        line-height: 1.05;
        /* keep to a multiple of the 20px line height 
        and something more appropriate for display headings */
    }
}

.h1 {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25;
    /* 45px / 36px */
    font-weight: 800;
    margin-bottom: 40px;
}

@media (min-width: 768px) {
    .h1 {
        font-size: 2.5em;
        /* 2.5x body copy size = 40px */
        line-height: 1.125;
    }
}

@media (min-width: 1200px) {
    .h1 {
        font-size: 3em;
        /* 3x body copy size = 48px */
        line-height: 1.05;
        /* keep to a multiple of the 20px line height 
        and something more appropriate for display headings */
    }
}

h1 span {
    color: var(--blueText);
}

h2 {
    font-size: 1.625em;
    /* 1.625x body copy size = 26px */
    line-height: 1.15384615;
    /* 30px / 26px */
    font-weight: 600;
    margin-bottom: 40px;
}

@media (min-width: 768px) {
    h2 {
        font-size: 2em;
        /* 2x body copy size = 32px */
        line-height: 1.25;
    }
}

@media (min-width: 1200px) {
    h2 {
        font-size: 2.25em;
        /* 2.25x body copy size = 36px */
        line-height: 1.25;
    }
}

.h2 {
    font-size: 1.625em;
    /* 1.625x body copy size = 26px */
    line-height: 1.15384615;
    /* 30px / 26px */
    font-weight: 600;
    margin-bottom: 40px;
}

@media (min-width: 768px) {
    .h2 {
        font-size: 2em;
        /* 2x body copy size = 32px */
        line-height: 1.25;
    }
}

@media (min-width: 1200px) {
    .h2 {
        font-size: 2.25em;
        /* 2.25x body copy size = 36px */
        line-height: 1.25;
    }
}

h3 {
    font-size: 1.375em;
    /* 1.375x body copy size = 22px */
    line-height: 1.13636364;
    /* 25px / 22px */
    font-weight: 600;
}

@media (min-width: 768px) {
    h3 {
        font-size: 1.5em;
        /* 1.5x body copy size = 24px */
        line-height: 1.25;
    }
}

@media (min-width: 1200px) {
    h3 {
        font-size: 1.75em;
        /* 1.75x body copy size = 28px */
        line-height: 1.25;
    }
}

.h3 {
    font-size: 1.375em;
    /* 1.375x body copy size = 22px */
    line-height: 1.13636364;
    /* 25px / 22px */
    font-weight: 600;
}

@media (min-width: 768px) {
    .h3 {
        font-size: 1.5em;
        /* 1.5x body copy size = 24px */
        line-height: 1.25;
    }
}

@media (min-width: 1200px) {
    .h3 {
        font-size: 1.75em;
        /* 1.75x body copy size = 28px */
        line-height: 1.25;
    }
}

h4 {
    font-size: 1.125em;
    /* 1.125x body copy size = 18px */
    line-height: 1.11111111;
}

@media (min-width: 768px) {
    h4 {
        line-height: 1.22222222;
        /* (22px / 18px */
    }
}

a {
    color: initial;
}

.btn--blue {
    background: var(--gradient__blue);
    border-radius: 500px;
    color: var(--white);
    margin: 0 15px;
    transition: all 0.1s ease-in-out;
}

.btn--blue:hover,
.btn--blue:focus,
.btn--blue:active {
    background: var(--gradient__blue) !important;
    color: var(--white) !important;
    box-shadow: 0 2px 10px var(--blue2);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01, 1.01);
    -ms-transform: scale(1.01, 1.01);
    -o-transform: scale(1.01, 1.01);
    transform: scale(1.01, 1.01);
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-perspective: 1000;
    -moz-osx-font-smoothing: grayscale;
    will-change: auto;
    transition: all 0.1s ease-in-out;
}

.btn--white {
    background: var(--white);
    border-radius: 500px;
    color: var(--plusButton);
    box-shadow: 0 2px 10px var(--plusButton);
    border: none;
    transition: all 0.1s ease-in-out;
}

.btn--white:hover,
.btn--white:focus,
.btn--white:active {
    background: var(--white) !important;
    color: var(--plusButton) !important;
    box-shadow: 0 3px 10px var(--plusButton), 0 2px 10px var(--plusButton);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01, 1.01);
    -ms-transform: scale(1.01, 1.01);
    -o-transform: scale(1.01, 1.01);
    transform: scale(1.01, 1.01);
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-perspective: 1000;
    -moz-osx-font-smoothing: grayscale;
    will-change: auto;
    transition: all 0.1s ease-in-out;
}

.btn--green {
    background: var(--white);
    border-radius: 500px;
    color: var(--green2);
    box-shadow: 0 2px 10px var(--green1);
    border: none;
    transition: all 0.1s ease-in-out;
}

.btn--green:hover,
.btn--green:focus,
.btn--green:active {
    background: var(--white) !important;
    color: var(--green2) !important;
    box-shadow: 0 3px 10px var(--green1),
    0 2px 10px var(--green1);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01, 1.01);
    -ms-transform: scale(1.01, 1.01);
    -o-transform: scale(1.01, 1.01);
    transform: scale(1.01, 1.01);
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-perspective: 1000;
    -moz-osx-font-smoothing: grayscale;
    will-change: auto;
    transition: all 0.1s ease-in-out;
}

/* NAV */

.nav--phone {
    background: var(--gradient__blue);
    border-radius: 500px;
    color: var(--white);
}

@media (min-width: 768px) {
    .navbar-brand {
        width: 35vw;
    }
}

/* /NAV */

/* HERO */

.home .hero {
    position: relative;
    height: 100vh;
    width: 100%;
    top: 0;
}

.home .heroContent {
    z-index: 2;
}

.home .search-bar--group {
    width: 80%;
}

.home .search-bar--group input {
    width: 40%;
    transition: all 0.3s ease-in-out;
}

.home .search-bar--group input:focus {
    width: 45%;
    transition: all 0.3s ease-in-out;
}

.home .search-bar input {
    border-radius: 500px;
}

.home .search-bar button {
    margin-left: -40px;
    background: var(--gradient__blue);
    border-radius: 500px;
    color: var(--white);
}

.home {
    .heroCard {
        border-radius: 25px;
        padding: 15px;
        color: var(--white);
        background: var(--gradient__blue);
        min-height: 150px;
        border: none;
        position: relative; //margin: 15px;
    }
}

.home .heroVideo {
    position: absolute;
    height: 115vh;
    right: 0;
    padding: 0;
    mask-image: url(../img/lagrima.svg);
    -webkit-mask-image: url(../img/lagrima.svg);
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: top right; //-webkit-mask-position: 0px 0px;
    //-webkit-mask-size: 110% 105%;
    transition: all 0.5s;
}

.home .heroVideo .apos-slideshow-item {
    background-size: cover;
    max-width: 100%;
    height: 115vh;
}

.home .heroVideo .apos-ui .apos-buttons {
    bottom: 50%
}

.home .heroVideo--content a:hover .heroVideo {
    mask-size: 50%;
    -webkit-mask-size: 50%;
    transition: all 0.5s;
}

.home .heroVideo--content {
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    text-align: center;
    color: var(--white);
    max-width: 250px;
    margin: 0 auto;
}

.home .heroVideo--content img {
    width: 100px !important;
}

.home .heroVideo>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 767px) {
    .home .hero {
        margin-top: 50px;
        position: static;
        height: auto;
    }
    .home .search-bar--group {
        width: 100%;
    }
    .home .search-bar--group input {
        width: 80%;
        display: inline;
    }
    .home .search-bar--group button {
        margin-top: -1px;
    }
    .home .heroCard {
        padding: 15px;
        min-height: 100px;
        margin: 15px;
        display: flex;
        align-items: center;
    }
}

/* /HERO */

/* + BUTTON */

.btn-expend--container {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;
    text-align: center;
}

.btn-expend {
    display: block;
    max-width: 14px;
    box-sizing: content-box;
    color: rgba(0, 0, 0, 0);
    background-color: var(--white);
    -moz-box-shadow: 0 2px 10px var(--plusButton);
    -webkit-box-shadow: 0 2px 10px var(--plusButton);
    box-shadow: 0 2px 10px var(--plusButton);
    border: none;
    border-radius: 500px;
    transition: max-width .3s ease;
    margin: 0 auto;
}

.btn-expend.btn-xs {
    max-width: 12px;
}

.btn-expend.btn-sm {
    max-width: 14px;
}

.btn-expend.btn-lg {
    max-width: 18px;
}

.btn-expend svg path {
    fill: var(--plusButton);
}

.btn-expend:hover,
.btn-expend:focus,
.btn-expend:active {
    max-width: 80%;
    transition-duration: .6s;
    color: var(--plusButton);
}

/* /+ BUTTON */

/* GRID */

.grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 10px;
    margin: 5vh auto;
    /* grid-auto-rows: 100px; */
    height: 85vh;
    max-width: 1400px;
    grid-auto-rows: 20%;
}

.grid-container>div {
    border-radius: 25px;
    color: var(--white);
    position: relative;
    margin: 5px;
}

.item--bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--grid__blue);
    opacity: 0.5;
    border-radius: 25px;
}

.item--bg__img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.item--content {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    text-align: center;
    border-radius: 0 0 25px 25px;
}

.item--content p {
    text-transform: uppercase;
    padding-top: 10px;
    margin-bottom: 5px;
    line-height: 1;
}

.item--content a {
    text-transform: uppercase;
    border-radius: 25px;
    color: var(--white);
    background-color: var(--blue1);
}

.item--text {
    position: absolute;
    padding: 15px;
    bottom: 0;
}

.item--text hr {
    border-top: 2px solid var(--white);
}

.item--text p {
    margin: 0;
}

.grid-container .item1 {
    grid-column: span 1;
    grid-row: span 3;
}

.grid-container .item1 .item--content {
    background: var(--grid__blue);
}

.grid-container .item1 img {
    border-radius: 25px 25px 0 0;
    height: 70%;
    width: 100%;
    object-fit: cover;
}

.grid-container .item2 {
    grid-column: span 1;
    grid-row: span 3;
}

.grid-container .item2 .item--content {
    background: var(--grid__orange);
}

.grid-container .item2 img {
    border-radius: 25px 25px 0 0;
    height: 70%;
    width: 100%;
    object-fit: cover;
}

.grid-container .item3 {
    grid-column: span 1;
    grid-row: span 3;
}

.grid-container .item3 .item--content {
    background: var(--grid__purple);
}

.grid-container .item3 img {
    border-radius: 25px 25px 0 0;
    height: 70%;
    width: 100%;
    object-fit: cover;
}

.grid-container .item4 {
    grid-column: span 1;
    grid-row: span 4;
    display: flex;
    align-items: flex-end;
}

.grid-container .item4 img {
    border-radius: 25px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.grid-container .item4 a img {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.grid-container .item5 {
    grid-column: span 3;
    grid-row: span 2;
}

.grid-container .item6 {
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container .item6 img {
    width: 80%;
}

@media (max-width: 767px) {
    .grid-container {
        grid-template-columns: 100%;
        padding: 10px;
        margin: 60px 0;
        grid-auto-rows: 130px;
    }
    .grid-container>div {
        margin: 20px 0;
    }
    .grid-container .item1,
    .grid-container .item2,
    .grid-container .item3,
    .grid-container .item4,
    .grid-container .item5 {
        grid-column: span 1;
        grid-row: span 4;
    }
    .grid-container .item6 {
        grid-column: span 1;
        grid-row: span 2;
    }
    .grid-container .item6 img {
        width: 50%;
    }
}

/* /GRID */

/* PAGE TITLE */

.page-title {
    max-width: 800px;
    margin: 7rem auto 0px;
    text-align: center;
}

/* /PAGE TITLE */

/* PAGE TITLE2 */

.page-title2 {
    max-width: 800px;
    margin: 7rem auto 0px;
    text-align: center;
}

.page-title2--bg {
    height: 60vh;
    margin-top: -320px;
}

/* /PAGE TITLE2 */

/* PAGE TITLE3 */

.page-title3 {
    margin: 80px auto 40px auto;
}

.page-title3--container {
    display: flex;
    align-items: center;
}

.page-title3 h2 {
    margin: 10px 0;
}

.page-title3 .btn--blue {
    margin: 0;
}

/* /PAGE TITLE3 */

/* TRATAMIENTOS GRID */

.tratamientos--grid {
    max-width: 800px;
    margin: 0 auto;
}

.tratamientos--card {
    height: 300px;
    border-radius: 25px;
    padding: 15px;
    position: relative;
}

.tratamientos--card .cardimg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: calc(100% - 3px);
    height: calc(100% - 2px);
    border-radius: 22px;
    opacity: 0.6;
    object-fit: cover;
    overflow-x: hidden
}

.tratamientos--card .cardimg img {
    height: 100%;
}

.cardimg .apos-slideshow-item {
    background-size: cover;
    max-width: 100%;
    height: 50vh;
}

.cardimg .apos-slideshow .apos-slideshow-item.apos-current {
    height: 100%;
}

.tratamientos--card h3 {
    position: relative;
    z-index: 2;
    text-align: center;
    color: var(--white);
    font-size: 120%;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 10px;
}

@media (max-width: 767px) {
    .tratamientos--card {
        height: 400px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .tratamientos--card h3 {
        text-align: left;
        font-size: 180%;
        font-weight: 800;
    }
}

/* /TRATAMIENTOS GRID */

/* LANDING3 HERO */

.landing3Hero--content {
    display: flex;
    align-items: center;
}

.video-left {
    height: 600px;
    border-radius: 0 25px 25px 0;
    padding: 5px;
    overflow: hidden;
}

.fix {
    padding: 0px;
    margin-left: -15px;
}

.video-left .apos-area {
    overflow: hidden;
    border-radius: 22px;
}

.video-left .apos-slideshow .apos-slideshow-item.apos-current {
    opacity: 0.7
}

.video-left>img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -4px;
    right: 0;
    margin: auto;
    width: calc(100% - 4px);
    height: calc(100% - 8px);
    border-radius: 0 22px 22px 0;
    opacity: 0.6;
    object-fit: cover;
}

.video-left a img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 200px;
    height: 200px;
}

.cards-right {
    margin-left: -8.666667%;
}

.cards-right>div {
    margin: 25px 0;
    transition: all 0.2s ease-in-out;
}

.cards-right>div:hover,
.cards-right>div:focus,
.cards-right>div:active {
    margin-left: -25px;
    margin-right: 25px;
    transition: all 0.2s ease-in-out;
}

.cards-right--img {
    height: 160px;
    border-radius: 25px;
    padding: 0;
    box-shadow: 0 2px 10px var(--plusButton);
    overflow: hidden;
}

.cards-right--img img {
    filter: saturate(0);
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

@media (max-width: 767px) {
    .implantesHero--content {
        display: initial;
        align-items: initial;
    }
    .video-left {
        height: 250px;
        border-radius: 25px;
    }
    .video-left a {
        width: 80px;
        height: 80px;
    }
    .video-left>img {
        left: 0;
        width: calc(100% - 8px);
        border-radius: 22px;
    }
    .cards-right {
        margin-left: 0;
    }
}

/* /LANDING3 HERO */

/* LANDING2 HERO */

.landing2Hero--content {
    display: flex;
    align-items: center;
}

.video-right {
    height: 600px;
    border-radius: 25px 0 0 25px;
    padding: 5px;
    overflow: hidden;
}

.landing2 .fix {
    padding: 0px;
    margin-right: -15px;
}

.video-right .apos-area {
    overflow: hidden;
    border-radius: 22px;
}

.video-right .apos-slideshow .apos-slideshow-item.apos-current {
    opacity: 0.7
}

.video-right>img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -4px;
    margin: auto;
    width: calc(100% - 4px);
    height: calc(100% - 8px);
    border-radius: 22px 0 0 22px;
    opacity: 0.6;
    object-fit: cover;
}

.video-right a img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 200px;
    height: 200px;
}

.cards-left {
    margin-right: -8.666667%;
}

.cards-left>div {
    margin: 25px 0;
    transition: all 0.2s ease-in-out;
}

.cards-left>div:hover,
.cards-left>div:focus,
.cards-left>div:active {
    margin-left: 25px;
    margin-right: -25px;
    transition: all 0.2s ease-in-out;
}

.cards-left--img {
    height: 160px;
    border-radius: 25px;
    padding: 0;
    box-shadow: 0 2px 10px var(--plusButton);
    overflow: hidden;
}

.cards-left--img img {
    filter: saturate(0);
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

@media (max-width: 767px) {
    .landing2Hero--content {
        display: initial;
        align-items: initial;
    }
    .video-right {
        height: 250px;
        border-radius: 25px;
    }
    .video-right a {
        width: 80px;
        height: 80px;
    }
    .video-right>img {
        right: 0;
        width: calc(100% - 8px);
        border-radius: 22px;
    }
    .cards-left {
        margin-right: 0;
    }
}

/* /LANDING2 HERO */

/* TIPOS */

.tipos {
    max-width: 900px;
    margin: 0 auto;
}

.tipos>div>div:hover .tiposCard,
.tipos>div>div:focus .tiposCard,
.tipos>div>div:active .tiposCard {
    cursor: pointer;
    box-shadow: 0 2px 10px var(--blue2);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01, 1.01);
    -ms-transform: scale(1.01, 1.01);
    -o-transform: scale(1.01, 1.01);
    transform: scale(1.01, 1.01);
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-perspective: 1000;
    -moz-osx-font-smoothing: grayscale;
    will-change: auto;
    transition: all 0.2s ease-in-out;
}

.tiposCard {
    border-radius: 25px;
    padding: 15px;
    color: var(--white);
    background: var(--gradient__blue);
    min-height: 150px;
    border: none;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}

.tiposCard h3 {
    font-size: 120%;
    text-transform: uppercase;
}

.tiposCard p {
    margin: 0;
}

/* /TIPOS */

/* FORM */

.form--bg {
    background-color: var(--greyBg);
}

.contactform {
    max-width: 960px;
    margin: 0px auto;
}

.contactform input,
.contactform textarea {
    border: none;
    border-radius: 25px;
    flex: 1;
    width: 100%;
    padding: 5px 15px;
    margin: 5px 0;
    line-height: 30px;
    min-height: 50px;
    box-shadow: 0 2px 10px var(--plusButton);
}

.descrip {
    height: 100px;
}

.name {
    width: 48% !important;
    float: left;
}

.lastname {
    width: 48% !important;
    float: right;
}

.contactform .btn--blue {
    margin: 0;
}

/* /FORM */

/* MODAL */

h2 {
    margin-top: 60px;
}

.modal-body img {
    -ms-transform: scale(1.05, 1.05);
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
}

.modal-body p {
    padding: 15px;
    margin: 0 auto;
}

/* /MODAL */

/* LANDING1 HERO */

.landing1 .heroCard--container {
    max-width: 900px;
    margin: 0 auto;
}

.landing1 .heroCard {
    text-align: center;
}

.landing1 .heroCard img {
    height: 150px;
    object-fit: cover;
    border-radius: 25px;
    margin-bottom: 10px;
}

.landing1 .heroCard h3 {
    color: var(--blueText);
}

@media (max-width: 767px) {
    .landing1 .heroCard {
        margin: 30px 0;
    }
}

/* /LANDING1 HERO */

/* CASOS */

.casosCard {
    border-radius: 25px;
    padding: 15px;
    color: var(--white);
    background: var(--gradient__blue);
    min-height: 300px;
    border: none;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.casosCard--bg__img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.casosCard--bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--grid__blue);
    opacity: 0.5;
    border-radius: 25px;
}

.casosCard--text {
    position: absolute;
    padding: 15px;
    bottom: 0;
    text-align: left;
}

.casosCard--text hr {
    border-top: 2px solid var(--white);
}

.casosCard a {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 40px;
    right: 0;
    left: 0;
    margin: auto;
}

/* /CASOS */

/* BLOG GRID */

.blog-grid {
    margin-top: 116px;
}

.featuredPost--container {
    height: calc(100vh - 56px);
    align-items: center;
    top: 56px;
    position: fixed;
}

.featuredPost--content {
    width: 100%;
}

.featuredPost {
    border-radius: 25px;
    padding: 15px;
    color: var(--white);
    background: var(--gradient__green);
    min-height: 80vh;
    width: 100%;
    border: none;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.featuredPost--bg__img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.featuredPost--bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--gradient__green);
    opacity: 0.8;
    border-radius: 25px;
}

.featuredPost--text {
    position: absolute;
    padding: 15px;
    bottom: 0;
    text-align: left;
}

.postList--container {
    margin-top: 86px;
}

.blogPost--img {
    margin-bottom: 15px;
    position: relative;
}

.blogPost--img img {
    width: 100%;
    border-radius: 25px;
}

.blogPost--img__bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--gradient__blue);
    opacity: 0.8;
    border-radius: 25px;
}

@media (max-width: 767px) {
    .featuredPost--container {
        position: relative;
    }

    .blogPost {
        margin-bottom: 40px;
    }

    .blogPost--img {
        margin-bottom: 10px;
    }
}

/* /BLOG GRID */

/* POST-TITLE */

.post-title {
    margin: 4rem auto 0px;
    text-align: center;
    background: var(--blue);
    min-height: 350px; 
    position: relative;
}

.post-title img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.post-title--content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 800px;
    margin: 0 auto;
    color: var(--white) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-title--content > div {
    margin-top: -50px;
}

.post-title ul {
    display: block;
    margin: 20px 0;
    padding: 0;
}

.post-title ul li {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
}

.post-title ul li a {
    text-decoration: none;
    color: var(--white);
}

.post-title ul li:after {
    content: " - ";
}

.post-title ul li:last-child:after {
    content: "";
}

/* /POST-TITLE */

/* POST WRAPPER */

.featuredImg {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: -50px;
    padding-right: 100px;
    position: relative;
    z-index: 2;
}

.featuredImg img {
    width: 100%;
}

.post-wrapper {
    max-width: 1000px;
    margin: 30px auto;
}

.social--sticky {
    position: sticky;
    top: 80px;
    width: 45px;
    float: left;
}

.post-content {
    max-width: 800px;
    float: right;
}

.post-content img {
    width: 100%;
    margin: 20px 0;
    margin-left: -100px;
}

.social-post {
    text-align: center;
}

.social-post p {
    font-weight: 600;
    font-size: 1.2em;
}

.social-post a {
    margin: 0 10px;
}

@media (max-width: 767px) {
    .social--sticky {
        display: none;
    }

    .post-content {
        padding: 0 15px
    }

    .post-content img {
        width: 100%;
        margin: 20px 0;
        margin-left: 15px;
    }

    .featuredImg {
        margin-top: -80px;
        padding-left: 50px;
        padding-right: 0;
    }
}

/* /POST WRAPPER */

/* RELATED POSTS */

.related-posts {
    background-color: var(--greyBg);
    margin-top: 40px;
    padding: 40px 0;
}

.related-posts > div {
    max-width: 800px;
    margin: 0 auto;
}

.related-posts img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 25px;
    margin-bottom: 10px;
}

@media (max-width: 767px) {
    .related-posts > div > div {
        margin-bottom: 30px;
    }
}

/* /RELATED POSTS */

/* BANNER1 */

.banner1 {
    margin: 4rem auto;
    text-align: center;
    background: var(--blue2);
    min-height: 350px;
    position: relative;
}

.banner1 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.banner1--content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 800px;
    margin: 0 auto;
    color: var(--white) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* /BANNER1 */

/* BANNER2 */ 

.banner2 {
    margin: 4rem auto;
    text-align: center;
    background: var(--blue2);
    min-height: 350px;
    position: relative;
}

.banner2 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.banner2--content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 800px;
    margin: 0 auto;
    margin-top: -60px;
    color: var(--white) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner2Card--container {
    max-width: 800px;
    margin: auto;
    margin-top: -160px;
    margin-bottom: 100px;
}

.banner2Card {
    padding: 15px;
    border-radius: 25px;
    background-color: var(--white);
    -moz-box-shadow: 0 2px 10px var(--plusButton);
    -webkit-box-shadow: 0 2px 10px var(--plusButton);
    box-shadow: 0 2px 10px var(--plusButton);
}

/* /BANNER2 */

/* LIST1 */

.list1--title {
    max-width: 800px;
    margin: 30px auto;
    text-align: center;
}

.list1--container {
    max-width: 800px;
    margin: 0 auto;
}

.list1Card--container {
    max-width: 900px;
    margin: 0 auto;
}

.list1Card {
    text-align: center;
    margin: 15px 0;
}

.list1Card img {
    height: 100px;
    object-fit: contain;
    margin-bottom: 10px;
}

.list1Card h3 {
    color: var(--blueText);
}

/* /LIST1 */

/* RELATED1 */

.related1 {
    padding: 40px 0;
}

.related1--title {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
}

/* /RELATED1 */

/* BOOTSTRAP */

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .modal-xl {
        max-width: 1000px;
    }
}

.modal-content {
    border-radius: 25px;
    overflow: hidden;
}

.modal-body {
    padding: 0;
}

/* /BOOTSTRAP */

/* CAMBIOS MIGUEL E IMAGENES RESPONSIVE */
.my-marquee .apos-slideshow-item {
    background-size: cover;
    max-width: 100%;
    height: 100vh;
}

.cards-right--img .apos-slideshow-item {
    background-size: cover;
    max-width: 100%;
    height: 100%;
}

.apos-slideshow-item {
    background-size: cover !important;
    max-width: 100% !important;
    height: 100% !important;
}

.grid-container .apos-slideshow-item {
    background-size: cover;
    max-width: 100%;
    height: auto;
}

.apos-ui .apos-button .apos-button-label {
    color: black;
}

.apos-area.apos-empty {
    height: 100%;
}

.herocard {
    box-sizing: content-box;
}

.apos-area.apos-workflow-committable [data-apos-workflow-force-export-widget] {
    display: none;
}

.apos-button.apos-button--in-group.ui-draggable-handle {
    display: none;
}

.middletext {
    margin-top: 15rem !important;
    margin-bottom: 20rem !important;
}

[data-apos-widget="apostrophe-rich-text"]>.apos-ui>.apos-area-widget-controls--context {
    display: none
}

.grid-container a.btn {
    background-color: rgba(0, 0, 0, 0.1) !important;
    margin-bottom: 5%;
}

.grid-container .apos-slideshow .apos-slideshow-item.apos-current {
    border-radius: 25px 25px 0px 0px;
}

[data-thumbnail-edit-view] {
    min-height: 150px;
    height: auto;
}

.navbar-nav {
    transition: all 0.6s ease-in-out;
    right: 0px !important;
    margin-right: 0px !important;
    margin-left: auto !important;
}

.navbar-nav .apos-area-widget-wrapper {
    position: relative;
    float: left;
}

.right {
    margin-right: 17% !important;
}

.rightno {
    margin-right: 0% !important;
}

.item-thumbnail {
    border-radius: 25px 25px 0 0;
    height: 80%;
    width: 100%;
    object-fit: cover;
}

[data-slideshow-items] {
    height: 100% !important;
}

.apos-area.apos-workflow-committable {
    height: 100%;
}

.apos-area-widget-wrapper {
    height: 100%;
}

.apos-area-widgets {
    height: 100%;
}

.apos-area-widget {
    height: 100%;
}

.apos-slideshow {
    height: 100%;
}

.grid-container .apos-slideshow .apos-slideshow-item.apos-current {
    height: 100%;
}

.grid-container .apos-area,
.apos-area-widgets,
.apos-area-widget {
    height: 100%;
    width: 100%
}

.item--text h4 {
    display: block
}

.apos-area,
.apos-area-widgets,
.apos-area-widget {
    height: 100%;
}

.navbar-brand {
    width: 12vw
}

.svgback {
    fill: rgba(2, 166, 212, 0.05);
    position: absolute;
    top: 75vh;
    z-index: -1;
}

.trans path {
    d: path("M1920,863.9c0,0-52.4-474.1-467.4-500.2C900.1,329,1167.7,905.6,556.4,905.6C253.9,905.6,0,1527.3,0,1527.3v281.3c0,0,169.1-225.1,452.2-145.9c488.9,136.9,93.8-528,923.9-510.6c517.4,10.8,543.8,118.1,543.8,118.1V863.9z");
}

.heroContent {
    left: 0px;
    transition: all 0.8s ease-in-out;
}

svg polyline,
svg line,
svg path {
    transition: all 2s ease-in-out;
}

.left {
    left: -100%;
}

.whitebg {
    box-shadow: rgba(0, 0, 0, 0.05) 0 10px 20px;
    background: rgba(255, 255, 255, 0.9);
}

.buttoncontainer {
    max-width: 500px;
}

.buttonsection {
    width: 50%;
    float: left;
    min-height: 50px;
}

.menu .apos-area-widget {
    height: 100px !important;
}

.apos-video-player iframe {
    height: 80vh !important;
}
/* /CAMBIOS MIGUEL */